html {
  box-sizing: border-box
}

/* The Universal Selector */
*, /* All elements*/
*::before, /* All ::before pseudo-elements */
*::after { /* All ::after pseudo-elements */
  /* height & width will now include border & padding by default
     but can be over-ridden as needed */
  box-sizing: inherit;
}

/* resets font size to be 62.5% of the user preference - 
   in most browser configurations this will be 10px */
:root {
  font-size: 62.5%;
}

body {
  background-color: gray;
  height: 100vh;
  font-family: sans-serif;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

main {
  width: 300px;
  background-color: white;
  font-size: 2rem;
  text-align: center;
}

img {
  border-radius:50%;
  border: green 4px solid; 
}

h1 {
  font-size: 3.2rem;
  padding: 5px 0;
}

h1, p {
  margin: 0;
}

#status {
  text-align: right;
  font-size: 1.5rem;
  font-weight: bold;
  color: gray;
  padding: 10px 20px 10px 0;
}

#brand {
  display: grid;
}

#occupation {
  background-color: rgb(230, 229, 229);
  width: 100%;
  align-items: center;
  padding: 2px 0;
}

#contact {
  display: flex;
}

#contact > p {
  height: 60px;
  display: flex;
  border: 1px solid rgb(243, 243, 243);
  width: 50%;
  align-items: center;
  justify-content: center;
}

#contact p:first-child{
  background-color: rgb(16, 161, 16);
}

#contact > p:last-child {
  background-color: rgb(3, 77, 3);
}

/*change to grid display*/
@media only screen and (min-width: 600px){

  main {
      width: 550px;
      display: grid;
      text-align: left;
      grid-template-columns: 40% 60%;
      grid-template-rows: auto auto auto auto;
      grid-template-areas: 
      "status name"
      "img occupation"
      "img brand"
      "contact offer";
      
    }

    #status {
    grid-area: status;
    margin: auto;
    border: 1px solid rgb(255, 255, 255);
    width: 100%;
    text-align: left;
    }


    img {
      grid-area: img;
      margin: 0 auto;
      /*center element within a parent*/
    }

    #occupation {
      grid-area: occupation;
    }

    #brand {
      grid-area: brand;
      display: flex;
      border-left: 2px solid green;
    }

    
    #brand > p {
      border-left: green 4px solid;
      padding: 0 20px 0 8px;
      font-size: 1.6rem;
    }

    #contact {
      grid-area: contact;
    }

    #offer {
      padding: 10px;
      font-size: 1.4rem;
    }

    #name, #occupation, #brand, #offer {
      padding-left: 20px;
      background-color: lightgray;
  } 
}